@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Gorditas:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Ole&family=Oswald:wght@200..700&family=Unkempt:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Gorditas:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Knewave&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Ole&family=Oswald:wght@200..700&family=Unkempt:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */


:root {
    --primary-color: #A3D78A;
    --secondary-color:#FF937E;
    --text-color: #6b1414;
    --accent-color:#FF5555 ;
    --highlight-color: #C1E59F;
    --content-font: Unkempt, sans-serif;
    --highlight-font: Knewave, sans-serif;
}

   /* Body styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    background-color: var(--highlight-color);
    flex: 1;
    margin: 0;
}

    /* Custom styles for the navbar */

.custom-navbar {
    background-color: var(--primary-color);
    color: var(--text-color);
}

h1 {
    font-family: var(--highlight-font);
}

p {
    font-family: var(--content-font);
}

/*Home page styles*/

.welcome-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    position: relative;
}
#welcome-message {
    position: relative;
    font-size: 120%;
    padding: 1.5rem;
    margin: 1rem;
    background-color: transparent;
    z-index: 1;
    color: --var(--text-color);
    
}

#welcome-message::before {
    background-color: var(--accent-color);
    height: 110%;
    width: 80%;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(15deg);
    aspect-ratio: 1 / 1;
    z-index: -1;
}

dotlottie-wc {
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 2;
    height: 400px;
    width: 400px;
    max-width: 100%;
    height: auto;
}
/*Media queries*/

@media (max-width: 768px) {
    .welcome-section {
        flex-direction: column;
    }
    #welcome-message {
        font-size: 100%;
        padding: 1rem;
        margin: 0.5rem;
    }
    dotlottie-wc {
  width: 90%; 
  max-width: 500px;
  height: auto;
  left: 5%;
  top: 70%; 
}
}